*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
}

body {
  font-size: 18px;
  line-height: 150%;
  font-family: Arial, Helvetica, sans-serif;
  background: #EEEEEA;
}
body a {
  color: black;
}
body a:hover {
  color: rgba(0, 0, 0, 0.774);
  transition: 0.3s;
}
body ._container {
  max-width: 1160px;
  margin: 0 auto;
}
body .title {
  color: black;
  font-size: 43px;
  line-height: 105%;
}
body .grey-text {
  color: #7A7A7A;
}
body .small-text {
  font-size: 12px;
  line-height: 27px;
}
body .button a {
  background: black;
  border-radius: 20px;
  padding: 15px 27px;
  color: white;
  display: inline-block;
  font-size: 18px;
}
body .button a:hover {
  background: rgba(0, 0, 0, 0.836);
  transition: 0.15s;
}
body .wrapper {
  margin: 0px 20px;
}
body .optimise__container {
  margin-top: 82px;
  display: flex;
  justify-content: space-between;
}
body .optimise__text {
  margin-top: 36px;
  max-width: 420px;
}
body .optimise__paragraph {
  margin: 23px 0px;
  max-width: 290px;
}
body .optimise__image {
  max-width: 560px;
  position: relative;
  left: 15px;
  align-self: center;
}
body .optimise__img {
  width: 100%;
}
body .analyze__container {
  margin-top: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .analyze__image {
  max-width: 708px;
  margin-left: -90px;
}
body .analyze__img {
  width: 100%;
}
body .analyze__text {
  max-width: 330px;
  margin-right: 90px;
}
body .analyze__paragraph {
  margin: 26px 0px 23px 0px;
}
body .analyze__button {
  margin-top: 27px;
}
body .analyze__button a {
  padding: 15px 20px;
}
body .info__container {
  margin-top: 118px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
body .info__block {
  background: #FFFFFF;
  border-radius: 50px;
  padding: 70px 60px 67px 60px;
}
body .info__devices {
  width: 660px;
}
body .info__title {
  margin: 35px 0px;
}
body .info__list li {
  list-style: disc;
  margin-left: 17px;
}
body .info__data {
  width: 480px;
}
body .team-worktime__container {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .team-worktime__title {
  max-width: 645px;
  text-align: center;
}
body .team-worktime__button {
  margin-top: 15px;
  margin-bottom: 58px;
}
body .team-worktime__button a {
  padding: 15px 38px;
}
body .team-worktime__image {
  width: 100%;
}
body .team-worktime__img {
  width: 100%;
}
body .try-free__container {
  margin-top: -125px;
}
body .try-free__paragraph {
  margin: 17px 0px 27px 0px;
}
body .try-free__form {
  display: flex;
  gap: 45px;
}
body .try-free__form-email {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 22px 28px;
  width: 372px;
}
body .try-free__form-email::-moz-placeholder {
  color: black;
  font-size: 18px;
  line-height: 27px;
}
body .try-free__form-email::placeholder {
  color: black;
  font-size: 18px;
  line-height: 27px;
}
body .try-free__form-submit {
  background: #B1FA16;
  border-radius: 20px;
  padding: 26px 36px;
  width: 115px;
  color: black;
  font-size: 18px;
  line-height: 27px;
  border: none;
}
body .try-free__form-submit:hover {
  background: rgba(178, 250, 22, 0.6352941176);
  border-radius: 20px;
  padding: 26px 36px;
  width: 115px;
  cursor: pointer;
  transition: 0.3s;
}
body .footer {
  margin-top: 129px;
  padding-bottom: 60px;
}
body .footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
  gap: 30px;
}
body .footer__logo {
  width: 89px;
}
body .footer__logo img {
  width: 100%;
}
body .footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
body .footer__language {
  display: flex;
  gap: 27px;
}
body .footer__language--active a {
  color: black;
}
@media (max-width: 1350px) {
  body .analyze__image {
    margin-left: 0;
  }
  body .analyze__text {
    margin-right: 0;
  }
}
@media (max-width: 900px) {
  body .info__container {
    margin-top: 50px;
    flex-wrap: wrap;
  }
  body .info__block {
    padding: 70px 60px 67px 60px;
    text-align: center;
  }
  body .info__devices {
    width: 100%;
  }
  body .info__data {
    width: 100%;
  }
  body .info__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .info__list li {
    margin-left: 0;
    text-align: start;
  }
}
@media (max-width: 800px) {
  body .optimise__container {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  body .optimise__text {
    margin-bottom: 36px;
    max-width: 760px;
    text-align: center;
  }
  body .optimise__paragraph {
    max-width: 760px;
  }
  body .analyze__container {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  body .analyze__text {
    margin-bottom: 36px;
    max-width: 760px;
    text-align: center;
    order: -1;
  }
  body .try-free__container {
    margin-top: -75px;
  }
}
@media (max-width: 480px) {
  body .title {
    font-size: 32px;
  }
  body * {
    font-size: 14px;
  }
  body .analyze__paragraph {
    margin: 23px 0px 15px 0px;
  }
  body .info__block {
    padding: 40px 30px 37px 30px;
  }
  body .team-worktime__button {
    margin-bottom: 28px;
  }
  body .try-free__container {
    margin-top: -45px;
  }
  body .try-free__form {
    gap: 15px;
  }
  body .try-free__form-email {
    max-width: 372px;
  }
}