*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
}

body {
  font-size: 18px;
  line-height: 150%;
  font-family: Arial, Helvetica, sans-serif;
  background: #EEEEEA;
}
body a {
  color: black;
}
body a:hover {
  color: rgba(0, 0, 0, 0.774);
  transition: 0.3s;
}
body ._container {
  max-width: 1160px;
  margin: 0 auto;
}
body .title {
  color: black;
  font-size: 43px;
  line-height: 105%;
}
body .grey-text {
  color: #7A7A7A;
}
body .small-text {
  font-size: 12px;
  line-height: 27px;
}
body .button a {
  background: black;
  border-radius: 20px;
  padding: 15px 27px;
  color: white;
  display: inline-block;
}
body .button a:hover {
  background: rgba(0, 0, 0, 0.836);
  transition: 0.15s;
}
body .wrapper {
  margin: 0 20px;
}
body .wrapper .header__container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 158px;
}
body .wrapper .header .menu {
  display: flex;
  flex: 1 auto;
  justify-content: space-between;
  align-items: center;
}
body .wrapper .header .menu__list {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0px;
}
body .wrapper .header .menu__item {
  margin-right: 58px;
  margin-top: 15px;
}
body .wrapper .header .menu__item:first-child {
  margin-left: 78px;
}
body .wrapper .teams {
  margin-top: 72px;
}
body .wrapper .teams__title {
  max-width: 618px;
  margin: 0 auto;
  text-align: center;
}
body .wrapper .teams__switch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  margin-top: 38px;
}
body .wrapper .teams__switch-text {
  font-size: 20px;
  line-height: 100%;
}
body .wrapper .teams__switch-button {
  display: flex;
  align-items: center;
  width: 112px;
  height: 46px;
  border-radius: 50px;
  background: #ADFF33;
  cursor: pointer;
  transition: 0.5s;
}
body .wrapper .teams__switch-button:hover {
  background: #7c7c7c;
  justify-content: flex-end;
}
body .wrapper .teams__switch-circle {
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50px;
  margin: 0 7px;
}
body .wrapper .teams__image {
  margin-top: 71px;
  position: relative;
}
body .wrapper .teams .image {
  display: flex;
  justify-content: center;
}
body .wrapper .teams .image__team {
  width: 100%;
  position: relative;
  top: 27px;
  left: 0;
  z-index: 10;
}
body .wrapper .teams .image__team img {
  width: 100%;
}
body .wrapper .teams .image__msgs-up {
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
body .wrapper .teams .image__msgs-up img {
  width: 100%;
}
body .wrapper .teams .image__msgs-down {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body .wrapper .teams .image__msgs-down img {
  width: 100%;
}
body .wrapper .simple-coordination__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
body .wrapper .simple-coordination__text-block {
  margin-top: 20px;
  max-width: 455px;
  margin-left: 15px;
}
body .wrapper .simple-coordination__descr {
  margin-top: 31px;
}
body .wrapper .simple-coordination__descr-grey {
  font-size: 15px;
  line-height: 140%;
  margin-top: 37px;
}
body .wrapper .simple-coordination__logos {
  display: flex;
  gap: 30px;
}
body .wrapper .simple-coordination__image {
  margin-top: -15px;
  max-width: 549px;
}
body .wrapper .simple-coordination__image img {
  width: 100%;
}
body .wrapper .custom-statuses {
  margin-top: 247px;
}
body .wrapper .custom-statuses__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
body .wrapper .custom-statuses__image {
  max-width: 650px;
  margin-left: -70px;
  display: flex;
  align-items: center;
}
body .wrapper .custom-statuses__image img {
  width: 100%;
}
body .wrapper .custom-statuses__text-block {
  max-width: 405px;
  margin-right: 70px;
  margin-top: 40px;
}
body .wrapper .custom-statuses__descr {
  margin-top: 18px;
}
body .wrapper .custom-statuses__small-descr {
  margin-top: 24px;
  margin-bottom: 30px;
}
body .wrapper .custom-statuses__button {
  margin-top: 22px;
}
body .wrapper .logos {
  margin-top: 118px;
}
body .wrapper .logos__container {
  padding-left: 40px;
}
body .wrapper .logos__title {
  max-width: 732px;
}
body .wrapper .logos__descr {
  margin-top: 23px;
}
body .wrapper .logos__images {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 11px;
}
body .wrapper .logos__image {
  width: 172px;
  display: flex;
  align-items: center;
}
body .wrapper .logos__image img {
  width: 100%;
}
@media screen and (max-width: 1280px) {
  body .wrapper .custom-statuses__image {
    margin-left: 0px;
  }
  body .wrapper .custom-statuses__text-block {
    margin-right: 0px;
  }
}
@media screen and (max-width: 900px) {
  body .wrapper .simple-coordination__container {
    flex-wrap: wrap;
    gap: 20px;
  }
  body .wrapper .simple-coordination__text-block {
    text-align: center;
    margin-top: 40px;
    width: 80%;
    max-width: unset;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .wrapper .simple-coordination__image {
    width: 80%;
  }
  body .wrapper .custom-statuses {
    margin-top: 70px;
  }
  body .wrapper .custom-statuses__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  body .wrapper .custom-statuses__image {
    margin-top: 30px;
    order: 1;
  }
  body .wrapper .custom-statuses__text-block {
    text-align: center;
  }
  body .wrapper .logos__container {
    text-align: center;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .wrapper .logos__images {
    justify-content: center;
  }
}
@media screen and (max-width: 740px) {
  body .wrapper .header__container {
    flex-direction: column;
  }
  body .wrapper .header__logo {
    margin: 20px auto 20px auto;
  }
  body .wrapper .menu__item {
    margin: 0;
    gap: 58px;
  }
  body .wrapper .menu {
    flex-direction: column;
    align-items: center;
  }
  body .wrapper .header__button {
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  body .wrapper .teams__title {
    font-size: 32px;
  }
  body .wrapper .simple-coordination__title {
    font-size: 32px;
  }
  body .wrapper .custom-statuses__title {
    font-size: 32px;
  }
  body .wrapper .logos__title {
    font-size: 32px;
  }
  body .wrapper .logos__images {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 11px;
  }
  body .wrapper .logos__image {
    width: 135px;
  }
}/*# sourceMappingURL=style.css.map */