@import "_default";

body {
	font-size: 18px;
	line-height: 150%;
	font-family: Arial, Helvetica, sans-serif;
	background: #EEEEEA;
	a {
		color: black;
	}
	a:hover {
		color: rgba(0, 0, 0, 0.774);
		transition: 0.3s;
	}
	._container {
		max-width: calc(1440px - 280px);
		margin: 0 auto;
	}
	.title {
		color: black;
		font-size: 43px;
		line-height: 105%;
	}
	.grey-text {
		color: #7A7A7A;
	}
	.small-text {
		font-size: 12px;
		line-height: 27px;
	}
	.button {
		color: white;
		background: black;
		border-radius: 20px;
		padding: 15px 27px;
	}
	.button:hover {
		color:white;
		background: rgba(0, 0, 0, 0.836);
		transition: 0.15s;
	}
	.wrapper {
		.header {

			&__container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 158px;
			}
	
			&__logo {
			}
	
			&__menu {
				display: flex;
				flex: 1 auto;
				justify-content: space-between;
			}
	
			&__button {
			}
	}
	.menu {
	
			&__list {
				display: flex;
				align-items: flex-end;
			}
	
			&__item {
				margin-right: 58px;
			}
			&__item:first-child {
				margin-left: 78px;
			}

			&__link {
			}
	}
	.button {

	}
	}
}
